<section class="container">
  <h2 class="text-center fw-bold text-primary my-5 display-3">
    Productos relevantes
  </h2>

  <!-- Lista de productos -->
  <div class="row gap-3 justify-content-center">
    @for (producto of productos; track $index) {
    <div class="card col-12 col-sm-5 col-md-3">
      <img
        [src]="producto.img"
        class="card-img-top img-fluid"
        [alt]="producto.nombre"
        [title]="producto.nombre"
      />
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">
          {{ producto.descripcion }}
        </p>
        <p class="card-text text-muted display-6">
          {{ producto.precio | currency }}
        </p>
        <button class="btn btn-primary" (click)="agregarCarrito(producto)">
          Añadir al carrito
        </button>
      </div>
    </div>
    }

    <!-- Botón de carrito -->
    <button
      class="btn btn-outline-primary position-fixed carrito"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        {{ carrito.length }}
      </span>
      Mi carrito
      <i class="bi bi-cart-fill"></i>
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Tu carrito
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Lista de productos en el carrito -->
            @for (producto of carrito; track $index) {
            <div class="producto-carrito row mb-3">
              <div class="col-12 col-md-4">
                <img
                  [src]="producto.img"
                  class="card-img-top img-fluid"
                  [alt]="producto.nombre"
                  [title]="producto.nombre"
                />
              </div>
              <div class="col-12 col-md-8">
                <div class="d-flexgap-2 row row-cols-12 row-sm-col-6">
                  <p class="fw-bold text-center">{{ producto.nombre }}</p>
                  <p class="text-muted fs-2 text-center">
                    {{ producto.precio * producto.cantidad! | currency }}
                  </p>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <button class="btn btn-primary" (click)="addUnit(producto)">
                    <i class="bi bi-plus"></i>
                  </button>
                  <p class="text-muted m-0 text-center px-4 fw-bold fs-6">
                    {{ producto.cantidad }}
                  </p>
                  <button
                    class="btn btn-primary"
                    (click)="removeUnit(producto)"
                  >
                    <i class="bi bi-dash"></i>
                  </button>
                </div>
              </div>
            </div>
            } @empty {
            <div class="alert alert-info" role="alert">
              Aún no has agregado productos a tu carrito
            </div>
            }
            <div class="alert alert-success" role="alert">
              El total es de:
              <span class="fw-bold">{{ totalCarrito | currency }}</span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-primary"
              data-bs-dismiss="modal"
            >
              Seguir comprando
            </button>
            <button type="button" class="btn btn-primary">Ir a pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
